*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  } 
  

